argcomplete
bpython
build
mypy
pylint
pyperclip
pytest
pytest-asyncio
pytest-forked
git+https://github.com/Textualize/pytest-textual-snapshot@19b2607c93b898cc67c6f9299f6236af5e994375
pytest-xdist
ruff
textual-dev
textual==0.88.1
twine
unidiff
